*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #004E89;
}

.title{
    text-align: center;
    color: #EFEFD0;
    margin: 1rem;
}

canvas{
    background-color: #eee;
    display: block;
    margin: 2rem auto;
    width: 320px;
    height: 220px;
}

@media screen and (min-width: 768px) {
    canvas{
        width: 60%;
        height: 30%;
    }
}
